body {
    background: #F6F5F5;
    color: #070D59;
    font-family: 'Bubblegum Sans';
    font-size: 1.5em;
}

h2 {
    color: #EE6F57;
}

p {
    color: #1F3C88;
}

a {
    color: #1F3C88;
}

a:link {}

a:visited {}

a:hover {
    color: #070D59;
}

a:active {}

ul {
    list-style: square;
}

button{}

button#primaryBtn {
    background: #EE6F57;
    color: #F6F5F5;
    font-family: 'Bubblegum Sans';
    font-size: 0.75em;
    border: none;
    border-radius: 10px;
    padding: 15px;
}

button#primaryBtn:hover {
    background: #ee6157;
    cursor: pointer;
}

/* ========= Unit 3 styling ========= */

.header-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    border: 2px dotted darkgrey;
}

.header-container .child {
    align-self: center;
    padding: 0 20px;
}

.header-container .child:nth-of-type(1) {
    flex: 0 1 700px;
}

.header-container .child:nth-of-type(2) {
    margin-top: 20px;
}

.header-container .child img {
    max-width: 100%;
    height: auto;
    border-radius: 20px;
}

.about-container {
    display: flex;
    flex-direction: row;
}

.about-container .child {
    align-self: center;
    padding: 0 20px;
}

.data-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background: lightgrey;
    border-radius: 10px;
    height: 500px;
}

.data-container .child {
    align-self: center;
    padding: 0 20px;
}

.impact-container {
    display: flex;
    flex-direction: column;
}

.impact-container-2 {
    display: flex;
    flex-direction: row;
}

.impact-container-2 .child-2 {
    padding: 0 20px;
}

.impact-container-2 img {
    object-fit: contain;
    max-width: 100%;
}

.header-container, .about-container, .impact-container {
    margin: 250px 80px;
    /* background: lightgrey; */
}