/* ================================ Bare styling ================================ */

body {
    background: #F6F5F5;
    color: #070D59;
    font-family: 'Bubblegum Sans';
    font-size: 1.5em;
}

h2 {
    color: #EE6F57;
}

p {
    color: #1F3C88;
}

a {
    color: #1F3C88;
}

a:hover {
    color: #070D59;
}

ul {
    list-style: square;
}

button {
    all: unset;
    color: #1F3C88;
}

button:hover {
    color: #070D59;
}

#primary-button {
    background: #EE6F57;
    color: #F6F5F5;
    font-family: 'Bubblegum Sans';
    font-size: 0.75em;
    border: none;
    border-radius: 10px;
    padding: 15px;
}

#primary-button:hover {
    background: #ee6157;
    cursor: pointer;
}

/* ================================ Flexbox styling ================================ */

.header-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.header-container .child {
    align-self: center;
    padding: 0 20px;
}

.header-container .child h1 {
    font-size: 3.5em;
}

.header-container .child:nth-of-type(1) {
    flex: 0 1 400px;
}

.header-container .child:nth-of-type(2) {
    margin-top: 20px;
}

.header-container .child img {
    max-width: 100%;
    height: auto;
    border-radius: 20px;
}

.about-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.about-container .child {
    align-self: center;
    padding: 0 20px;
}

.about-container .child h2 {
    font-size: 2.5em;
    text-align: center;
}

.about-container .child:nth-of-type(1) {
    background: #070D59;
    border-radius: 10px;
}

.about-container .child:nth-of-type(2) {
    flex: 0 1 700px;
}

.data-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.data-container .child {
    align-self: center;
    padding: 0 20px;
}

.data-container .child h2 {
    font-size: 3em;
}

.list-background {
    background: #f6f5f5;
    padding: 20px;
    border-radius: 20px 20px 0 0;
    box-shadow: 0px 12px 28px 0px rgba(140, 149, 159, 0.3);
    margin-bottom: 30px;
}

.impact-container {
    display: flex;
    flex-direction: column;
}

.impact-container .child {
    padding: 0 20px;
}

.impact-container .child h2 {
    font-size: 2.5em;
}

.impact-container-2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.impact-container-2 .child-2 {
    padding: 0 20px;
}

.impact-container-2 .child-2 h3 {
    text-align: center;
}

.impact-container-2 .child-2:nth-of-type(1) {
    flex: 0 1 300px;
}

.impact-container-2 .child-2:nth-of-type(2) {
    flex: 0 1 300px;
}

.impact-container-2 .child-2:nth-of-type(3) {
    flex: 0 1 300px;
}

.impact-container-2 img {
    max-width: 100%;
    height: auto;
    border-radius: 20px;
}

.news-container {
    display: flex;
    flex-direction: row;
}

.news-container .child {
    padding: 0 20px;
}

.news-container .child h2 {
    font-size: 2em;
}

.header-container,
.about-container,
.impact-container,
.news-container,
.pledge-container {
    max-width: 1151px;
    margin: 350px auto;
}

/* ================================ Navigation styling ================================ */

.navigation {
    background: #f6f5f5;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    margin: 0;
    box-shadow: 0px 12px 18px 0px rgba(133, 133, 133, 0.171);
    z-index: 8;
}

.navigation ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    list-style-type: none;
    max-width: 1151px;
    margin: 0 auto;
    padding: 30px 20px;
}

.navigation ul li {
    float: left;
    margin: 0 5px;
}

.navigation ul li:nth-of-type(4) {
    margin-left: auto;
    /* Align flex item to right */
}

.navigation ul li a {
    display: inline-block;
    text-decoration: none;
    padding: 10px;
    border-radius: 20px;
    /* display: block; */
}

.navigation ul li a:hover {
    background-color: #ee705728;
}

/* ================================ Toggle theme styling ================================ */
.navigation ul li button {
    display: inline-block;
    text-decoration: none;
    padding: 10px;
    border-radius: 20px;
    border: 5px dashed lightgrey;
    margin-top: 0;
}

.navigation ul li button:hover {
    background-color: #ee705728;
    cursor: pointer;
}

.theme-mode {
    background: #070D59;
    color: #F6F5F5;
}

.theme-mode p {
    color: #F6F5F5;
}

.theme-mode .navigation {
    background: #070D59;
    box-shadow: 0px 12px 18px 0px rgba(0, 0, 0, 0.541);
}

.theme-mode a {
    color: #F6F5F5;
}

.theme-mode a:hover {
    color: #c4c4c4;
}

.theme-mode button {
    color: #F6F5F5;
}

.theme-mode .navigation ul li a:hover {
    background-color: #ee705788;
}

.theme-mode .navigation ul li button:hover {
    background-color: #ee705788;
}

.theme-mode .list-background {
    background: #070D59;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0px 12px 28px 0px rgba(0, 0, 0, 0.568);
    margin-bottom: 30px;
}

.theme-mode .pledge-container .child {
    box-shadow: 0px 12px 28px 0px rgba(0, 0, 0, 0.568);
}

/* ================================ Pledge styling ================================ */
.pledge-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.pledge-container .child {
    padding: 0 20px;
    padding-bottom: 20px;
    margin: 25px 0;
    border-radius: 20px 20px 0 0;
    box-shadow: 0px 12px 18px 0px rgba(133, 133, 133, 0.171);
}

.pledge-container .child h2 {
    font-size: 2em;
}

.pledge-container .child:nth-of-type(1) {
    flex: 0 1 500px;
}

.pledge-container .child:nth-of-type(1) p {
    font-size: 1.2em;
    font-weight: bold;
}

.pledge-container .child:nth-of-type(2) {
    flex: 0 1 500px;
}

#live-feed p {
    font-size: 2em;
}

#pledge-button {
    background: #EE6F57;
    color: #F6F5F5;
    font-family: 'Bubblegum Sans';
    font-size: 0.75em;
    border: none;
    border-radius: 10px;
    padding: 15px 30px;
}

#pledge-button:hover {
    background: #ee6157;
    cursor: pointer;
}

#pledge-form input {
    font-family: 'Bubblegum Sans';
    font-size: 1em;
    width: 90%;
    padding: 10px 10px;
    margin: 15px 0;
    border: 2px solid #1f3d8883;
    border-radius: 7px;
}

#checkbox-container {
    display: flex;
    flex-direction: row;
}

#checkbox-container .child-2:nth-of-type(1) {
    flex: 0 1 1em;
}

#checkbox-container .child-2:nth-of-type(2) {
    padding-top: 11px;
    flex: 1 1 auto;
}

/* ================================ Error styling ================================ */

.error {
    border: 2px solid red;
    background: pink;
    outline: 1px auto red;
}

/* ========================== Scroll animation styling ========================== */

.revealable {
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: all 2s ease;
    z-index: 1;
}

.active {
    transform: translateY(0px);
    opacity: 1;
}